<div class="profile">
    <aside class="button__sidebar">
        <div class="button__container">
            {{{BackButton}}}
        </div>
    </aside>
    <div class="profile-container">
        <div class="profile__info">
            {{{ProfileAvatar}}}
            <h2 class="profile__name">{{{profileName}}}</h2>
        </div>
        <form action="" class="profile__form">
            {{{EmailInput}}}
            {{{LoginInput}}}
            {{{NameInput}}}
            {{{SecondNameInput}}}
            {{{PhoneInput}}}
            <div class="profile__form_buttons">
                {{{SubmitButton}}}
                {{{PasswordEditLink}}}
                {{{ExitLink}}}
            </div>
        </form>
    </div>
    {{{AvatarModal}}}
</div>

