<div class="profile">
    <aside class="button__sidebar">
        <div class="button__container">
            {{{BackButton}}}
        </div>
    </aside>
    <div class="profile-container">
        <div class="profile__info">
            {{{ProfileAvatar}}}
            <h2 class="profile__name">{{{profileName}}}</h2>
        </div>
        <form action="" class="profile__form">
            {{{OldPassword}}}
            {{{NewPassword}}}
            {{{NewPasswordConfirm}}}
            <div class="profile__form_buttons">
                {{{SubmitButton}}}
            </div>
        </form>
    </div>
    {{{AvatarModal}}}
</div>

