<div class="modal modal__{{status}}">
    <div class="modal__overlay">
        <div class="modal__container">
            <h4 class="modal__title">{{title}}</h4>
            <div class="modal__content modal__content_{{type}}">
                {{{content}}}
            </div>
            <div class="modal__buttons">
                {{{SaveButton}}}
                {{{CancelButton}}}
                <button type="button" aria-label="закрыть" class="button modal__close-btn"></button>
            </div>
        </div>
    </div>
</div>
