<div class="auth">
    <form action="" class="form">
        <h2 class="form__title">Регистрация</h2>
        <div class="form__input-group">
            {{{ EmailInput }}}
            {{{ LoginInput }}}
            {{{ FirstNameInput }}}
            {{{ SecondNameInput }}}
            {{{ PhoneInput }}}
            {{{ PasswordInput }}}
            {{{ PasswordConfirmInput }}}
        </div>
        <div class="form__button-group form__button-group_type-signup">
            {{{ SignUpButton }}}
            <div class="form__link">
                {{{ SignUpLink }}}
            </div>
        </div>
    </form>
</div>
