<div class="add-users-modal__content">
  <div class="add-users-modal__search">
    {{{SearchInputComponent}}}
  </div>
  
  {{#if isLoading}}
    <div class="add-users-modal__loading">Поиск пользователей</div>
  {{/if}}
  
  {{#if users.length}}
    <div class="add-users-modal__users">
      <h4 class="add-users-modal__subtitle">Найденные пользователи:</h4>
      <div class="add-users-modal__users-list">
        {{#each users}}
          <div class="user-item {{#if isSelected}}selected{{/if}}" data-user-id="{{id}}">
            <div class="user-avatar">
              {{#if avatar}}
                <img src="{{avatar}}" alt="Avatar" />
              {{else}}
                <div class="avatar-placeholder">{{first_name.[0]}}</div>
              {{/if}}
            </div>
            <div class="user-info">
              <div class="user-name">{{display_name}}</div>
              <div class="user-login">@{{login}}</div>
            </div>
            {{#if isSelected}}
              <div class="selected-indicator">✓</div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  {{else if searchQuery.length}}
    <div class="add-users-modal__no-results">
      <div class="no-results-message">Пользователь не найден</div>
    </div>
  {{/if}}
  
  {{#if selectedUsers.length}}
    <div class="add-users-modal__selected">
      <h4 class="add-users-modal__subtitle">Выбранные пользователи:</h4>
      <div class="add-users-modal__selected-list">
        {{#each selectedUsers}}
          <div class="user-item selected" data-user-id="{{id}}">
            <div class="user-avatar">
              {{#if avatar}}
                <img src="{{avatar}}" alt="Avatar" />
              {{else}}
                <div class="avatar-placeholder">{{first_name.[0]}}</div>
              {{/if}}
            </div>
            <div class="user-info">
              <div class="user-name">{{display_name}}</div>
              <div class="user-login">@{{login}}</div>
            </div>
            <div class="selected-indicator">✓</div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
  
  <div class="add-users-modal__actions">
    {{{CancelButtonComponent}}}
    {{{AddButtonComponent}}}
  </div>
</div> 
