<div class="auth">
    <form action="" class="form">
        <h2 class="form__title">{{title}}</h2>
        
        <div class="form__input-group">
            {{{login}}}
            {{{password}}}
        </div>

        <div class="form__button-group">
            {{{button}}}
            <div class="form__link">
                {{{link}}}
            </div>
        </div>
    </form>
</div>
