<div class="input_{{className}}">
  <label class="input__label input__label_{{className}}">
    <input
      class="input__field input__field_{{className}}"
      placeholder="{{placeholder}}"
      type="text"
      name={{name}}
      value="{{{value}}}"
    />
  </label>
</div>
